.carousel-item {
  height: 26rem;
  background: #7773;
  color: white;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* .my-card > img {
  height: auto; Maintain the original height of the image
  max-width: 100%; Limit the width to prevent horizontal stretching
  object-fit: contain; Ensures the image is scaled to be as large as possible while still being contained within the element's box
} */
