*,
::after,
::before {
  box-sizing: border-box;
}

/* to set the background */
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  min-height: 620px;
  background-image: url(../assets/large/images/backgrounds/bg-pages.png); /* TODO: change to jpg/jpeg and reduce size to 100-200kb */
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  color: white; /* todo: is this the best way? */
  font-size: 1.3rem; /* todo: remove this from other places where I defined font-size */
  display: flex;
  flex-direction: column;
}

a {
  color: whitesmoke;
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover,
a:focus {
  text-decoration: underline;
  color: white;
  /* background-color: #c0c0c010;
  border-radius: 15px; */
}

/* 
--------------------- HEADER/NAV BAR ---------------------
*/
header {
  font-size: 1.2rem; /* todo: keep this size? */
}

.pagina-actual {
  text-decoration: underline;
}

/* TODO: change the image to svg or change the color of the image file */
.as-icon {
  -webkit-filter: invert(1);
  filter: invert(0.7);
  height: 3rem;
  margin: 1rem 2.5rem;
}

h2 {
  font-size: 1.7rem;
}

#quienes-somos {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}
#producciones-audiovisuales {
  font-family: "Square Peg", cursive;
  font-weight: 400;
}
#foto-fija {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}
#entrevistas {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}
#eventos {
  font-family: "Square Peg", cursive;
  font-weight: 400;
}
#tienda {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}
#contacto {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

/* 
------------------------- MAIN -------------------------
*/

main {
  flex: 1;
}

/* 
------------------------ FOOTER ------------------------
*/
footer .nav-link {
  color: #999;
}
footer .nav-link:hover,
footer .nav-link:focus {
  color: #ccc;
}

.footer-icon {
  filter: invert(45%) sepia(3%) saturate(1550%) hue-rotate(167deg)
    brightness(97%) contrast(79%);
}
